@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

.admin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-background-white;

  &__card {
    width: 80%;
    max-width: 24rem;
    padding: 2rem;
    border-radius: 1.25rem;
    background: $color-background-white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $color-title-dark;
  }

  &__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    &--actions {
      @include flexProps;
      gap: 2rem;
    }
  }

  &__error {
    color: red;
    font-size: 0.875rem;
    margin-top: -1rem;
  }
}





