//Simple
$color-white: #fff;

// Backgrounds
$color-background-gray: #f5f5f7;
$color-background-white: #fff;

//Text
$color-text-dark: #1c1c1e;
$color-title-dark: #1c1c1e;
$color-subtitle-dark: #1c1c1e;

// Logo and emoji
$color-logo-dark: #1c1c1e;

// Buttons style
$color-button-blue: #007aff;
$color-button-text-white: #ffffff;
$color-button-hover-blue: #0051a8;
$color-button-white: #ffffff;
$color-button-text-blue: #007aff;
$color-button-border-blue: #007aff;
$color-button-hover-white: #007aff;
$color-button-hover-text-white: #ffffff;
