.adminItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eaeaea;


  @media (max-width: 520px) {
    flex-direction: column;
    text-align: center;
    padding: 14px 12px;
  }

  &__info {
    &-name {
      font-size: 18px;
      font-weight: 600;

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }

    &-info {
      font-size: 14px;
      opacity: 0.7;

      @media (max-width: 480px) {
        font-size: 13px;
      }
    }
  }

}