@use "../../../styles/mixins" as *;
@use "../../../styles/colors" as *;

.WelcomePage {
  @include flexProps;
  flex-direction: column;
  height: 100vh;
  color: $color-text-dark;
  text-align: center;
  gap: 1.5rem;
  padding: 0 1rem;

  &__title {
    font-size: 3rem;
    font-weight: 700;
  }

  &__logo {
    @include flexProps;
    font-size: 5rem;
  }

  &__subtitle {
    font-size: 1.1rem;
    max-width: 400px;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}


