@use "../../../styles/mixins" as *;
@use "../../../styles/colors" as *;

.ProfilePage {
  @include flexProps;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  color: $color-text-dark;

  &__username {
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
  }

  &__QRCode {
    background-color: $color-background-white;
    padding: 1.5rem;
    border-radius: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actions {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }
}
